* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html
{
    font-size: 10px;
    font-family: 'Sansita', Sansita Swashed;
}

.container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 50%;
    width: 50%;
    object-fit: cover;
}
                        /* #home section */
#home {
    background: url(/img/binary-1695478_1280.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
#home::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}         
#home .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
#home img{
    border-radius: 50%;
    width: 15%;
    height: 50%;
}

#home .info{
    text-align: center;
    text-transform: capitalize;
}
#home h1{
    font-size: 4rem;
    color: white;
    text-align: center;
}
#home .opis{
    display: flex;
    flex-direction: column;
}
#home p {
    position: relative;
    font-size: 2.5rem;
    display: inline-block;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    text-align: center;
}
#home p:nth-child(1){
    animation-delay: 1s;
}
#home p:nth-child(2){
    animation-delay: 2s;
}
#home p:nth-child(3){
    animation-delay: 3s;
}
#home p span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
    background-color:blue;
    animation: overlay 1s ease forwards;
    animation-delay: 0.3s;
}
#home p:nth-child(1) span{
    animation-delay: .5s;
}
#home p:nth-child(2) span{
    animation-delay: 1.5s;
}
#home p:nth-child(3) span{
    animation-delay: 2.5s;
}
/* /End * #home section */

/* about me */

#about{
    background-color: rgba(22, 9, 9, 0.5);
    display: flex;
    flex-direction: row-reverse;
}

#about .description{
    max-width: 800px;
    padding: 50px;
    background: rgba(180, 156, 156, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    
}

#about  h1{
    text-align: center;
    font-size: 3rem;
    margin: 0 0 40px;
    text-transform: uppercase;
    color: white;
}
#about p{
    margin: 10px;
    padding: 0;
    font-size: 2rem;
    color: white;
}
/* End about me */

/* Experience */


#experience .title{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#experience .experience-items{
    padding-bottom: 20px;
}
#experience .experience-item{

    text-align: center;
    width: 800px;
    padding: 50px;
    letter-spacing: .5px;
    border-radius: 20px;
    background: rgba(156, 179, 180, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
  
}
#experience .experience-item h1{
    font-size: 2rem;
    padding: 2px;
}
#experience .experience-item h2{
    font-size: 3rem;
    padding-bottom: 20px;
   
}
#experience .experience-item p{
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 10px;
}

/* End Experience */

/* My skills */


#skills{
    background: #404a49;

    
}
#skills .skills{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    width: 100px;
}
#skills .naslov h1{
    display: flex;
    color: yellow;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: 600;
    font-size: 3rem;
    

}

#skills .oblik{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 150px;
    padding-right: 200px;
    
}
#skills .opiss{
    margin-top: 60px;
    padding: 30px;
    
}
#skills .education{
    background-image: url(./img/joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
    background-size: cover;
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 500px;
    color: white;
}
#skills .education p{
    padding-top: 10px;
    font-size: 10pt;
    font-weight: 500;
}
#skills .education h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
#skills .education h2{
    width: 300px;
    margin-left: 100px;
}
#skills .education p{
}

#skills .skill{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    
}
#skills .title{
    display: flex;
    color: black;
    font-size: 50px;
    font-weight: 600;
    padding-left: 620px;
    
}
#skills .technology{
    background-image: url(./img/pexels-pixabay-459654.jpg);
    background-size: cover;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    
    
}

#skills .skill-name{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
#skills .skill-bar{
    width: 500px;
    height: 20px;
    background: black;
    border-radius: 8px;
    padding-bottom: 20px;
    
}
#skills .skill-per{
    height: 20px;
    background-color:yellow;
    border-radius: 8px;
    transition: 1s linear;
    position: relative;
    width: 0%;
    
}
#skills .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: yellow;
    color: black;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
#skills .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:yellow;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/*End My skills */
/* keyframes */
@keyframes overlay {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
/* end keyframes */